@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is a Web Application that you could deploy to a movie rental store.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How does it work?</h2>
        <p>
            Vidly has both a customer and movie database that can be updated via the Web Application itself or using Web API.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cool Features?</h2>
        <p>Vidly features client side validation, user authentication/authorization, inventory tracking, and login via multiple sources like Facebook or Google.</p>
    </div>
    <div class="col-md-4">
        <h2>How is the DB set up?</h2>
        <p>Vidly takes advantage of SQL Lite using Entity Framework code first migration. With this approach we have full versioning of our database.</p>
    </div>
</div>